body {
  margin: 0;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
